<h3>Aplicacion de Gestion de Trabajadores</h3>
<div class="row mt-3">
  <div class="col-lg-6">
      <h3>Listado de trabajadores</h3>
  </div>
  <div class="col-lg-6">
      <button class="btn btn-primary float-end" routerLink="crearTrabajador">Nuevo trabajador</button>
  </div>
</div>

<table class="table table-hover table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Edad</th>
        <th scope="col">Pais</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trabajador of trabajadores">
        <th scope="row">{{trabajador.idtrabajador}}</th>
        <td>{{trabajador.nombres}}</td>
        <td>{{trabajador.apellidos}}</td>
        <td>{{trabajador.edad}}</td>
        <td>{{trabajador.pais.nombre}}</td>
        
        <td>
          
          <button [routerLink]="['/editarTrabajador',trabajador.idtrabajador]" class="btn btn-warning btn-sm m-1">Editar</button>
          <button (click)="eliminarTrabajador(trabajador.idtrabajador)" class="btn btn-danger btn-sm m-1">Eliminar</button>
          <button [routerLink]="['/detalleTrabajador',trabajador.idtrabajador]" class="btn btn-info btn-sm m-1">Detalle</button>
                    
        </td>
        
      </tr>
    </tbody>
  </table>

  