<h3>{{accion}}</h3>

<form>
    <div class="mb-3">
        <label for="nombres" class="form-label">Nombres</label>
        <input type="text" 
        class="form-control"
        [(ngModel)]="trabajador.nombres" 
        name="nombres">
    </div>
    <div class="mb-3">
        <label for="apellidos" class="form-label">Apellidos</label>
        <input type="text" 
        class="form-control"
        [(ngModel)]="trabajador.apellidos" 
        name="apellidos">
    </div>
    <div class="mb-3">
        <label for="edad" class="form-label">Edad</label>
        <input type="number" 
        class="form-control"
        [(ngModel)]="trabajador.edad" 
        name="edad">
    </div>
    <div class="form-group row">
        <label for="paises" class="col-form-label col-sm-2">Pais</label>
        <select [compareWith]="compararPaises" [(ngModel)]="trabajador.pais" name="pais">
            <option [ngValue]="undefined">--Seleccione un pais--</option>
            <option *ngFor="let pais of paises" [ngValue]="pais">
                {{pais.nombre}}
            </option>
        </select>
    </div>

    <button type="button" routerLink='/' class="btn btn-info m-2 float-end">Volver</button>
    <button type="submit" class="btn btn-primary m-2" (click)="crearTrabajador()" *ngIf="!trabajador.idtrabajador">
        Guardar
    </button>
    <button type="submit" class="btn btn-primary m-2" (click)="actualizarTrabajador()" *ngIf="trabajador.idtrabajador">
        Actualizar
    </button>

</form>
