<h3>Informacion del Trabajador</h3>

<h4>
    Nombres
    <p class="text-muted">{{trabajador.nombres}}</p>
</h4><br>

<h4>
    Apellidos
    <p class="text-muted">{{trabajador.apellidos}}</p>
</h4><br>

<h4>
    Edad
    <p class="text-muted">{{trabajador.edad}}</p>
</h4><br>

<h4>
    País
    <p class="text-muted">{{trabajador.pais?.nombre}}</p>
</h4><br>
<button type="button" routerLink='/' class="btn btn-info m-2">Volver</button>
